* {
  margin: auto;
}

body {
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI';
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width:1008px) {
  body {
    width: 100%;
  }
}

@keyframes translateYContent {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateXContent {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleInContent {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 768px = tablet width */
/* transform: scale(1.03); enlarge element*/


/* 'About Me', 'My Skillset', and 'My Projects' headings */
.section-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.section-heading h3 {
  color: #0db3c7;
}

/******************************* HEADER *******************************/
header {
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 2;
  /* box-shadow: 0px 0px 50px 2px #ddd; */
  /* opacity: 0.8; */
}

.header-container {
  /* width: 60%; */
  display: flex;
  align-items: center;
  margin: auto;
}

#my-logo {
  width: 90px;
  padding-left: 1rem;
}

nav {
  flex: 1; /* lets all the flexible items be the same length, regardless of its content */
  text-align: right; /* navlinks go to right of header */
}

#navigation-links li { 
  list-style-type: none;
  display: inline-flex;
  padding: 1rem;
}

#navigation-links li a { /* <Link /> in Navigation.js comes out as a tag within the dom (refer to in dev tools on chrome) */
  text-decoration: none; /* removes underlined links */
  color: white;
  opacity: 1;
}

#navigation-links li a:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.navActive {
  border-bottom: 1.5px black solid;
}

.MenuButton {
  color: white;
  padding-right: 1rem;
}

.MenuButton .fab:hover, .MenuButton .fas:hover {
  opacity: 1;
  /* transform: scale(1.1);  */ /* expands the elements 1.1 its size */
  transition: 0.2s ease-in-out; /* smothens the transition a bit; animation duration = 0.2s */
}

/******************* hamburger menu *******************/
.MenuButton { 
  display: none;
}

.NavigationResponsive {
  display: none;
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  animation: translateYContent 0.5s;
  background: rgb(0, 0, 40);
  z-index: 1;
}

#navigation-links-responsive {
  position: absolute;
  padding: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#navigation-links-responsive li {
  list-style-type: none;
  padding: 1rem 0;
  font-size: 5rem;
}

#navigation-links-responsive li a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  font-size: 2rem;  
}

#navigation-links-responsive li a:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;  
}

#resume a:hover {
  color: rgb(89, 167, 255);
}

@media only screen and (max-width:1008px) { 
  .MenuButton {
    display: block;
  }

  #navigation-links li {
    display:none;
  }

  .NavigationResponsive {
    display: block;
  }
}



/******************************* HOME *******************************/
.Home {
  font-size: 1.4rem;
  margin-top: 55px;
  overflow: hidden;
}

.home-container {
  background: black;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.bio {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  text-align: center;
}

.bio p {
  opacity: 0.8;
}

#home-video {
  left: 0;
  margin: auto;
  opacity: 0.6;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}


/******************************* ABOUT *******************************/
.About {
  font-size: 1.3rem;
  background-color: rgb(250, 250, 250);
  padding: 5rem 0;
}

/* about me */
.about-me {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
  display: flex;
}

.about-me-description {
  animation: translateYContent 2s;
  width: 100%;
  margin: 1rem;
}

#portfolio-img {
  height: 200px;
  max-width: 15%;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0 0 20px #ddd;
} 



@media only screen and (max-width:1200px) { 
  #portfolio-img {
    max-width: 25%;
  }
}

@media only screen and (max-width:992px) { 
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  #portfolio-img {
    max-width: 35%;
  }
}

/* skills */

.skills {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.SkillsItem {
  text-align: center;
  height: 150px;
  width: 150px;
  animation: translateYContent 0.5s linear;
  animation-fill-mode: backwards;
}

.SkillsItem p {
  font-size: 0.9rem;
}

.SkillsItem i {
  color: black;
}

.SkillsItem:nth-child(3) { animation-delay: .3s }
.SkillsItem:nth-child(4) { animation-delay: .6s }
.SkillsItem:nth-child(5) { animation-delay: .9s }
.SkillsItem:nth-child(6) { animation-delay: 1.2s }
.SkillsItem:nth-child(7) { animation-delay: 1.5s } 
.SkillsItem:nth-child(8) { animation-delay: 1.8s }
.SkillsItem:nth-child(9) { animation-delay: 2.1s }
.SkillsItem:nth-child(10) { animation-delay: 2.4s }

@media only screen and (max-width:1200px) {
  .skills {
    flex-wrap: wrap;
  }
  
  .SkillsItem {
    flex: 0 0 20%;
  }
}

/******************************* ABOUT *******************************/

/******************************* PROJECTS *******************************/
.Projects {
  padding: 5rem 0;
}

.projects-container {
  width: 80%;
  margin: 0 auto;
}

.ProjectsItem {
  animation: translateYContent 0.5s linear;
  animation-fill-mode: backwards;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 50%;
  display: inline-block;
  overflow: hidden;
}

.ProjectsItem h3 {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.ProjectsItem:nth-child(3) { animation-delay: .3s }
.ProjectsItem:nth-child(4) { animation-delay: .6s }
.ProjectsItem:nth-child(5) { animation-delay: .9s }
.ProjectsItem:nth-child(6) { animation-delay: 1.2s }
.ProjectsItem:nth-child(7) { animation-delay: 1.5s } 

.innerProjectsContainer {
  height: 500px;
  position: relative;
}  

.innerProjectsContainer img{
  border-radius: 15px;
  height: 100%;
  width: 100%;
} 

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  display: none;
}

.project-info a {
  text-decoration: none;
}

.project-links {
  text-align: center;
  margin-top: 1rem;
}

.project-links a {
  margin-left: 1rem;
}

.project-links a, .project-links i {
  color: white; 
}

.project-links a:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.innerProjectsContainer:hover > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    border-radius: 15px;
    background-color:black;
    opacity:0.7;
    transition: 0.5s ease-out;
}

.innerProjectsContainer:hover .project-info {
  display: block;
}

@media only screen and (max-width:1400px) {
  .ProjectsItem {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  .innerProjectsContainer {
    height: 350px;
    font-size: 0.75rem;
  }

}
/******************************* PROJECTS *******************************/

/******************************* FOOTER *******************************/
.Footer {
  border-top: 1px solid lightgray;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  color: white;
  width: 100%;
  background-color: black;
}

#contactLinks {
  list-style-type: none; /* gets rid of bullet points on an <ul> */
  padding: 0; /* list have padding by default */ 
}

#contactLinks li{
  display: inline-block;
  padding: 7px;
}

.Footer i, .Footer p {
  color: white;
  opacity: 0.6;
} 

.contactIcons .fab:hover, .contactIcons .fas:hover {
  opacity: 1;
  /* transform: scale(1.1);  */ /* expands the elements 1.1 its size */
  transition: 0.2s ease-in-out; /* smothens the transition a bit; animation duration = 0.2s */
  /* font-size: 2.2em; this makes all div elements movie in accordance to the one expanding  */
}



#copyright {
  padding: 0.5rem;
  font-size: 12px;
}
/******************************* FOOTER *******************************/


/******************************* phone resonspiveness *******************************/

@media only screen and (max-width:700px) {
  
  /* .header-container {
    width: 90%;
  } */
  .about-me {
    width: 90%;
  }
  .skills {
    width: 90%;
  }
  .projects-container {
    width: 90%;
  }


  /* .bio {
    padding: 4rem 0;
  } */
  .Projects {
    padding: 4rem 0;
  }
  .About {
    padding: 4rem 0;
  }
  .aboutMeContainer {
    padding: 4rem 0;
  }
}